/*needs tweaked for max*/

/* full size */
body {/* background:green*/}
#wrapper { max-width: 1149px;}


#header {width:100%;}
#nav { float:left; width:13.402959094865%;}
#content { float:right; width:82.680591818973%;}



@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
	/* 950*/
	body {/*background:blue*/}
	#wrapper { max-width: 950px;}
	#header { float:left; width:16.210526315789%;} /*154*/
	#content { float:right; width:79.052631578947;} /*751*/

}


